
.dialog {
  margin: 30px;

  div {
    margin-top: 20px;
  }

  .buttons {

    margin-left: 60px;

    button {
      height: 30px;
      border-radius: 5px;
    }

  }

  .mat-dialog-actions {
    background-color: red;
  }

}
